@charset "UTF-8";

*{ 
    
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

body { 

background-image: linear-gradient(to right, #9f0b0b, #3333 #42034daa);


}

main {

background-color: #9f0b0b;
border-radius: 10px;
box-shadow:15px 15px 15px rgb(60, 58, 58);
width: 500px;
padding: 20px;
margin: 10px;
}


h1 { 

color: antiquewhite;


}

